<div class="mx-auto col-10 col-sm-10">
  <div class="col-6 col-sm-5">
   <div style="padding-top:20px;">
    <span style="font-size:20px; background-color:#dcdcdc;">
      注文履歴詳細
    </span>
   </div>
  </div>

  <div class="col-7">
   <div class="field">
     <div style="padding-top:5px;">
      <div class="row">
       <p class="col-3 col-sm-3 text-left">購入者</p>
        <div class="col-sm-6">
         <%= link_to @order.customer.full_name, admin_customer_path(@order.customer.id) %>
        </div>
      </div>
     </div>
    </div>
    <div class="field">
     <div style="padding-top:5px;">
      <div class="row">
       <p class="col-3 col-sm-3 text-left">注文日</p>
        <div class="col-sm-6">
         <%= @order.created_at.strftime("%Y/%m/%d") %>
        </div>
      </div>
     </div>
    </div>
    <div class="field">
     <div style="padding-top:5px;">
      <div class="row">
       <p class="col-3 col-sm-3 text-left">配送先</p>
        <div class="col-sm-6">
         <p>〒<%= @order.postal_code  %><%= @order.address %>
         <p><%= @order.name %></p>
        </div>
      </div>
     </div>
    </div>
    <div class="field">
     <div style="padding-top:5px;">
      <div class="row">
       <p class="col-3 col-sm-3 text-left">支払方法</p>
        <div class="col-sm-6">
         <%= Order.payment_methods_i18n[:credit_card]  %>
        </div>
      </div>
     </div>
    </div>
    <div class="field">
     <div style="padding-top:5px;">
      <div class="row">
       <p class="col-3 col-sm-3 text-left">注文ステータス</p>
        <%= form_with model:@order, url: admin_order_path(@order.id), local: true do |f| %>
        <div class="row">
         <div class="col-sm-5">
          <%= f.select :status, Order.statuses.keys.map {|k| [I18n.t("enums.order.status.#{k}"),k]} %>
         </div>
         <div class="col-sm-6" style="padding-left:50px;">
          <%= f.submit '更新', class: "btn btn-success" %>
         </div>
        </div>
        <% end %>
      </div>
     </div>
    </div>
   </div>
  </div>

  <div class="mx-auto col-10 col-sm-10">
  <div class="field">
   <div style="padding-top:10px;">
    <div class="row">
     <div class="col-sm-8">
      <table class="table">
       <thaed>
       <tr style="background-color:#dcdcdc;">
         <th>
           商品名
         </th>
         <th>
           単価（税込）
         </td>
         <th>
           数量
         </th>
         <th>
           小計
         </th>
         <th>
           制作ステータス
         </th>
       </tr>
       </thaed>
       <tbody>
        <% @order.order_details.each do |order_detail| %>
         <tr>
           <td>
            <%= order_detail.item.name %>
           </td>
           <td>
             <%= order_detail.item.tax_price %>
           </td>
           <td>
             <%= order_detail.amount %>
           </td>
           <td>
            <%= order_detail.item.tax_price * order_detail.amount %>
           </td>
           <td>
            <%= form_with model:order_detail, url: admin_order_detail_path(order_detail.id), local: true do |f| %>
             <%= f.select :making_status, OrderDetail.making_statuses.keys.map {|k| [I18n.t("enums.order_detail.making_status.#{k}"), k]} %>
           </td>
           <td>
             <%= f.submit '更新', class: "btn btn-success" %>
            <% end %>
           </td>
         </tr>
         <% @order_sum = 0 %>
         <% @order_sum += order_detail.item.tax_price * order_detail.amount %>
         <% end %>
       </tbody>
      </table>
     </div>

     <div class="col-sm-4">
      <div style="padding-top:10px; padding-left:20px;">
       <table width="250" height="150" style="font-size:20px;">
        <tr>
         <th>商品合計</th>
         <td style="text-right"><%= @order_sum %>円</td>
        </tr>
        <tr>
         <th>送料</th>
         <td><%= @order.shipping_cost %>円</td>
        </tr>
        <tr>
         <th>請求金額合計</th>
         <td><%= @order.total_payment %>円</td>
        </tr>
       </table>
       </div>
     </div>

    </div>
   </div>
  </div>
  </div>
</div>